body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  min-height: 110vh;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
}

a:link { 
     color: rgb(100,95,100);
     text-decoration: none;
     font-size: 20px;
}
a:visited {
    color: rgb(100,95,100);
     text-decoration: none;
}
a:hover { 
     color: rgb(100,95,100);
     text-decoration: underline;
}
a:active { 
     color: rgb(100,95,100);
     text-decoration: none;
}

img {
  max-width: 100%;
  border-radius: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

pre {
  overflow-x: auto;
  border: 0.1rem solid lightgray;
  padding: 0.2rem;
}

code {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.Banner {
  list-style: none;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
}

{{ $len := len site.Menus.nav }}
{{ range seq $len }}

  .Banner-item:nth-child({{ . }}) {
    order: {{ sub $len . | add 1 }};
  }

{{ end }}

.Banner-item--title {
  flex-grow: 1;
}

.Banner-link {
  font-size: 1.1rem;
  color: white;
  padding: 0.7rem 0.5rem;
}

.Heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: baseline;
}

.Heading-title {
  margin: 1rem 0 0 0;
}

.Heading-link {
  color: inherit;
}

.Tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem 0;
  padding: 0;
}

.Tags-item {
  border-radius: 0.2rem;
  margin: 0.2rem;
  padding: 0 0.3rem;
}

.Tags-link {
  color: white;
}

{{ with site.Params.divider }}

  .Divider {
    display: flex;
    justify-content: center;
  }

  .Divider::after {
    content: "{{ . }}";
  }

{{ end }}

.Pagination {
  font-size: 1.25rem;
  color: inherit;
}

.Pagination--right {
  float: right;
}

.Footer {
  text-align: center;
  margin: 1rem 0;
}


.u-wrapper {
  {{ with site.Params.width }}max-width: {{ . }};{{ end }}
  margin: auto;
}

.u-padding {
  padding: 0 7rem;
  width: 80%;
}

.u-background {
  background: {{ site.Params.color }};
  line-height: 2;
  
}

.u-clickable {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 0 0 0 2rem;

}

.slika_l {
  float: left;
}

.slika_logo {
  float: left;
  margin: 1.5rem;
}

.row {
  display: flex;
}

.column_2 {
  flex: 50%;
  padding: 0.5rem;
  margin: 0rem;
}

.column_3 {
  flex: 33.33%;
  padding: 0.5rem;
  margin: 0rem;
}

.column_4 {
  flex: 25%;
  padding: 0.5rem;
  margin: 0rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {
color: rgb(100,95,100);
font-size: 40px;
}

h3 {
color: rgb(100,95,100);
font-size: 30px;
}
